.cephas.full {
    width: 100%;
}

.cephas.responder {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
}

.cephas.responder > * {
    margin-top: 0;
}

@media screen and (max-width: 1000px) {
    .cephas.responder {
        margin: 0 1rem;
    }
}